html
  head
    script(type='text/javascript', src='/scripts/vendor/jquery-2.0.0.min.js')
    script(type='text/javascript', src='/scripts/vendor/angular.min.js')
    script(type='text/javascript', src='/scripts/app/confroom.js')
    script(type='text/javascript', src='/scripts/app/controllers/sessions_controller.js')
  body(ng-app="confroom")
    block content