extends ../layouts/layout

block content
  div
    form(action='/sessions', method='post')
      input(id='name', name='name', type='text', value='', placeholder='Enter your name')
      button="Enviar"

